flows.json
[
    {
        "id": "02c1293b58f9c1cb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ecd6e366efe8382e",
        "type": "mqtt in",
        "z": "02c1293b58f9c1cb",
        "name": "",
        "topic": "smartplant/IDC/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f8b85d67fce88346",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "80cd5ab4c57e1305",
                "83c3eee445da7e8b",
                "2b28acdd606cd199",
                "665f5286f94fcb0e",
                "fffd1f7d3c48cb40",
                "4282f1431c579f05",
                "aee68c9a7fec71fd"
            ]
        ]
    },
    {
        "id": "80cd5ab4c57e1305",
        "type": "ui-gauge",
        "z": "02c1293b58f9c1cb",
        "name": "Humedad en Suelo %",
        "group": "c3937a10d77f788d",
        "order": 2,
        "value": "msg.payload.soil",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad en Suelo",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            },
            {
                "from": "15",
                "color": "#ffff00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#00ff00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "90",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 480,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2b28acdd606cd199",
        "type": "ui-gauge",
        "z": "02c1293b58f9c1cb",
        "name": "Humedad en aire %",
        "group": "c3937a10d77f788d",
        "order": 3,
        "value": "msg.payload.humidity",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad en aire",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff4000",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ffff00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#00ff00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ffff00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "90",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 480,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "83c3eee445da7e8b",
        "type": "ui-gauge",
        "z": "02c1293b58f9c1cb",
        "name": "Temperatura ",
        "group": "c3937a10d77f788d",
        "order": 4,
        "value": "msg.payload.temperature",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00ff00",
                "text": "",
                "textType": "value"
            },
            {
                "from": "35",
                "color": "#ffff00",
                "text": "",
                "textType": "value"
            },
            {
                "from": "45",
                "color": "#ff0000",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 450,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "665f5286f94fcb0e",
        "type": "switch",
        "z": "02c1293b58f9c1cb",
        "name": "",
        "property": "msg.payload.soil",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "f6767a9b48c2a70d"
            ]
        ]
    },
    {
        "id": "fffd1f7d3c48cb40",
        "type": "function",
        "z": "02c1293b58f9c1cb",
        "name": "F_estadoPanel",
        "func": "let soil = msg.payload.soil;\n\nif (soil < 15) {\n    msg.payload = \"El Riego es urgente\";\n} else if (soil < 30) {\n    msg.payload = \"El Riego es recomendable\";\n} else if (soil > 90) {\n    msg.payload = \"Demasiada irrigación \";\n} else {\n    msg.payload = \"En condiciones optimas\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 40,
        "wires": [
            [
                "bc504d183c69fb47"
            ]
        ]
    },
    {
        "id": "bc504d183c69fb47",
        "type": "ui-text",
        "z": "02c1293b58f9c1cb",
        "group": "c3937a10d77f788d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "3c15463cdb9e0148",
        "type": "telegram sender",
        "z": "02c1293b58f9c1cb",
        "name": "Alerta",
        "bot": "86731eac8be6e238",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b17202cfd3822ff1",
        "type": "function",
        "z": "02c1293b58f9c1cb",
        "name": "F_alerta",
        "func": "let soil = msg.payload.soil;\n\nmsg.payload = {\n    chatId: 8919289974,\n    type: \"message\",\n    content: \"⚠️ Smart Plant Alert!\\nLa humedad en suelo es: \" + soil + \"%\\nPor favor, riegue ahora.\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "3c15463cdb9e0148"
            ]
        ]
    },
    {
        "id": "f6767a9b48c2a70d",
        "type": "delay",
        "z": "02c1293b58f9c1cb",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "b17202cfd3822ff1"
            ]
        ]
    },
    {
        "id": "9d217af661b447ca",
        "type": "telegram command",
        "z": "02c1293b58f9c1cb",
        "name": "",
        "command": "/status",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "86731eac8be6e238",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 210,
        "y": 480,
        "wires": [
            [
                "4282f1431c579f05"
            ],
            []
        ]
    },
    {
        "id": "257d2aeb6092f17b",
        "type": "telegram sender",
        "z": "02c1293b58f9c1cb",
        "name": "",
        "bot": "86731eac8be6e238",
        "haserroroutput": false,
        "outputs": 1,
        "x": 670,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4282f1431c579f05",
        "type": "function",
        "z": "02c1293b58f9c1cb",
        "name": "F_estadoTelegram",
        "func": "let temp = flow.get(\"temperature\");\nlet hum = flow.get(\"humidity\");\nlet soil = flow.get(\"soil\");\n\nlet status = \"\";\n\nif (soil < 30)\n    status = \"🔴 Necesita agua\";\nelse\n    status = \"🟢 Saludable, el riego es bueno\";\n\nmsg.payload = {\n    chatId: msg.originalMessage.chat.id,\n    type: \"message\",\n    content:\n        \"🌱 Smart Plant Status\\n\\n\" +\n        \"🌡 Temperatura: \" + temp + \" °C\\n\" +\n        \"💧 Humedad en aire: \" + hum + \" %\\n\" +\n        \"🌱 Humedad en suelo: \" + soil + \" %\\n\\n\" +\n        status\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "257d2aeb6092f17b"
            ]
        ]
    },
    {
        "id": "aee68c9a7fec71fd",
        "type": "function",
        "z": "02c1293b58f9c1cb",
        "name": "F_saveData",
        "func": "flow.set(\"temperature\", msg.payload.temperature);\nflow.set(\"humidity\", msg.payload.humidity);\nflow.set(\"soil\", msg.payload.soil);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f8b85d67fce88346",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c3937a10d77f788d",
        "type": "ui-group",
        "name": "Stats",
        "page": "896d93ace01290c3",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "86731eac8be6e238",
        "type": "telegram bot",
        "botname": "@testest1122bot",
        "usernames": "",
        "chatids": "8919289974",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "896d93ace01290c3",
        "type": "ui-page",
        "name": "IDC - SmartPlant",
        "ui": "bf1704f249640458",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "b2b4b059ccddc698",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bf1704f249640458",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "b2b4b059ccddc698",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "55ba6a863bce3bac",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-contrib-telegrambot": "17.4.16"
        }
    }
]